// Plugins run before Presets.
// Plugin ordering is first to last.
// Preset ordering is reversed (last to first).
{
    "plugins": [
      "./src/index.js",
      "object-styles-to-template"


    // "transform-object-rest-spread",
    // "transform-es2015-modules-commonjs"
    ],
    "presets": [
      "@babel/preset-env",
      "@babel/preset-react",
      "linaria/babel"
    ]
  }