// Plugins run before Presets.
// Plugin ordering is first to last.
// Preset ordering is reversed (last to first).
{
    "plugins": [
      "object-styles-to-template",
  
      "../dist/index"

    // "transform-object-rest-spread",
    // "transform-es2015-modules-commonjs"
    ],
    "presets": [
      "es2015",
      "react",
  
      // class properties and beyond
      "stage-2",

      "linaria/babel"
    ]
  }